<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Aisles</key>
	<array>
		<dict>
			<key>ProductGroups</key>
			<array>
				<dict>
					<key>name</key>
					<string>Produce</string>
					<key>Items</key>
					<array>
						<dict>
							<key>name</key>
							<string>Fruits</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Fresh Vegetables</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Salad Greens</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Deli</string>
					<key>Items</key>
					<array>
						<dict>
							<key>name</key>
							<string>Premium Meats</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Specialty Bread</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Seafood</string>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ProductGroups</key>
			<array>
				<dict>
					<key>name</key>
					<string>Meats</string>
					<key>Items</key>
					<array>
						<dict>
							<key>name</key>
							<string>Beef</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Chicken</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Pork</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Spaghetti Sauce</string>
					<key>Items</key>
					<array>
						<dict>
							<key>name</key>
							<string>Spaghetti Sauce</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Stuffing &amp; Gravy</string>
					<key>Items</key>
					<array>
						<dict>
							<key>name</key>
							<string>Sauce</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Gravy</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Stuffing</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Rice &amp; Dry Beans</string>
					<key>Items</key>
					<array>
						<dict>
							<key>name</key>
							<string>Rice</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Beans</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Pasta</string>
					<key>Items</key>
					<array>
						<dict>
							<key>name</key>
							<string>Macaroni &amp; Cheese</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Dry Cheese</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Pasta Sauce</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Pasta</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Soup</string>
					<key>Items</key>
					<array>
						<dict>
							<key>name</key>
							<string>Soup</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Dry Soup</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Canned Foods</string>
					<key>Items</key>
					<array>
						<dict>
							<key>name</key>
							<string>Canned Meat</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Canned Tuna</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Instant Potatoes</string>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ProductGroups</key>
			<array>
				<dict>
					<key>name</key>
					<string>Canned Vegetables</string>
					<key>Items</key>
					<array>
						<dict>
							<key>name</key>
							<string>Canned Veggies</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Canned Beans</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Diced Tomatoes</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Bulk Foods</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Meat Cuts</string>
					<key>Items</key>
					<array>
						<dict>
							<key>name</key>
							<string>Meat Cuts</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Buns &amp; Rolls</string>
					<key>Items</key>
					<array>
						<dict>
							<key>name</key>
							<string>Muffins</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Bagels</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Buns</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Rolls</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Sweets</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Crackers</string>
					<key>Items</key>
					<array>
						<dict>
							<key>name</key>
							<string>Crackers</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Breads</string>
					<key>Items</key>
					<array>
						<dict>
							<key>name</key>
							<string>Sliced Bread</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Variety Bread</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Canned Fruit</string>
					<key>Items</key>
					<array>
						<dict>
							<key>name</key>
							<string>Canned Fruit</string>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ProductGroups</key>
			<array>
				<dict>
					<key>name</key>
					<string>Chips &amp; Pretzels</string>
					<key>Items</key>
					<array>
						<dict>
							<key>name</key>
							<string>Chips</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Pretzels</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Tortilla Chips</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Multipack Chips</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Seafood Dept.</string>
					<key>Items</key>
					<array>
						<dict>
							<key>name</key>
							<string>Fresh Seafood</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Candy</string>
					<key>Items</key>
					<array>
						<dict>
							<key>name</key>
							<string>Candy</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Chocolate</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Nuts</string>
					<key>Items</key>
					<array>
						<dict>
							<key>name</key>
							<string>Snack Nuts</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Peanuts</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Cashews</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Almonds</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Popcorn</string>
					<key>Items</key>
					<array>
						<dict>
							<key>name</key>
							<string>Popcorn</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Cookies</string>
					<key>Items</key>
					<array>
						<dict>
							<key>name</key>
							<string>Cookies</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Snacks</string>
					<key>Items</key>
					<array>
						<dict>
							<key>name</key>
							<string>Beef Jerky</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Sunflower seeds</string>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ProductGroups</key>
			<array>
				<dict>
					<key>name</key>
					<string>Pancake Mix</string>
					<key>Items</key>
					<array>
						<dict>
							<key>name</key>
							<string>Pancake Mix</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Breakfast Items</string>
					<key>Items</key>
					<array>
						<dict>
							<key>name</key>
							<string>Oatmeal</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Cream of Wheat</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Syrup</string>
					<key>Items</key>
					<array>
						<dict>
							<key>name</key>
							<string>Syrup</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Cereal</string>
					<key>Items</key>
					<array>
						<dict>
							<key>name</key>
							<string>Cereal</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Juice Boxes</string>
					<key>Items</key>
					<array>
						<dict>
							<key>name</key>
							<string>Juice Boxes</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Peanut Butter</string>
					<key>Items</key>
					<array>
						<dict>
							<key>name</key>
							<string>Peanut Butter</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Jam</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Jelly</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Granola Bars</string>
					<key>Items</key>
					<array>
						<dict>
							<key>name</key>
							<string>Granola Bars</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Multipack snacks</string>
					<key>Items</key>
					<array>
						<dict>
							<key>name</key>
							<string>Fruit Snacks</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Fruit Cups</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Pudding Cups</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Jell-O</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Raisins</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Cranberries</string>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ProductGroups</key>
			<array>
				<dict>
					<key>name</key>
					<string>Baking Mixes</string>
					<key>Items</key>
					<array>
						<dict>
							<key>name</key>
							<string>Cake Decorations</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Gellatin</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Brownie Mix</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Cake Mix</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Baking Soda</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Hot Dogs</string>
					<key>Items</key>
					<array>
						<dict>
							<key>name</key>
							<string>Hot Dogs</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Coffee &amp; Tea</string>
					<key>Items</key>
					<array>
						<dict>
							<key>name</key>
							<string>Coffee</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Tea</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Coffee Filters</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Coffee Creamer</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Disposable Pans</string>
					<key>Items</key>
					<array>
						<dict>
							<key>name</key>
							<string>Disposable Pans</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Mason Jars</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Flour &amp; Sugar</string>
					<key>Items</key>
					<array>
						<dict>
							<key>name</key>
							<string>Flour</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Sugar</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Cornmeal</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Oil &amp; Shortening</string>
					<key>Items</key>
					<array>
						<dict>
							<key>name</key>
							<string>Canola Oil</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Vegetable Oil</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Shortening</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Olive Oil</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Spices &amp; Flavorings</string>
					<key>Items</key>
					<array>
						<dict>
							<key>name</key>
							<string>Spices</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Chocolate Syrup</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Vanilla</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Flavorings</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Baking Ingredients</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Almonds</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Walnuts</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Herbs</string>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ProductGroups</key>
			<array>
				<dict>
					<key>name</key>
					<string>Kitchenware</string>
					<key>Items</key>
					<array>
						<dict>
							<key>name</key>
							<string>Small Appliances</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Pots &amp; Pans</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Kitchen Towels</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Cooking Utensils</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Sausage</string>
					<key>Items</key>
					<array>
						<dict>
							<key>name</key>
							<string>Sausage</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Small Appliances</string>
					<key>Items</key>
					<array>
						<dict>
							<key>name</key>
							<string>Small Appliances</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Condiments</string>
					<key>Items</key>
					<array>
						<dict>
							<key>name</key>
							<string>Mustard</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Ketchup</string>
						</dict>
						<dict>
							<key>name</key>
							<string>BBQ Sauce</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Honey Mustard</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Mayo</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Hot Sauce</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Pickles &amp; Olives</string>
					<key>Items</key>
					<array>
						<dict>
							<key>name</key>
							<string>Pickles</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Olives</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Relish</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Pickled Jalepeno</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Salad Dressings</string>
					<key>Items</key>
					<array>
						<dict>
							<key>name</key>
							<string>Salad Dressings</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Croutons</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>International</string>
					<key>Items</key>
					<array>
						<dict>
							<key>name</key>
							<string>Taco Shells</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Tortillas</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Taco Shells</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Tortilla Chips</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Taco Sauce</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Salsa</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Asian Foods</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Kosher Foods</string>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ProductGroups</key>
			<array>
				<dict>
					<key>name</key>
					<string>Seasonal</string>
					<key>Items</key>
					<array>
						<dict>
							<key>name</key>
							<string>Baskets</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Tupperware</string>
						</dict>
						<dict>
							<key>name</key>
							<string>HOT Buys!</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Seasonal Candy</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Seasonal Items</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Paper Towels</string>
					<key>Items</key>
					<array>
						<dict>
							<key>name</key>
							<string>Paper Towels</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Bath Tissue</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Facial Tissue</string>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ProductGroups</key>
			<array>
				<dict>
					<key>name</key>
					<string>Bacon</string>
					<key>Items</key>
					<array>
						<dict>
							<key>name</key>
							<string>Bacon</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Lunch Meats</string>
					<key>Items</key>
					<array>
						<dict>
							<key>name</key>
							<string>Lunch Meat</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Seasonal</string>
					<key>Items</key>
					<array>
						<dict>
							<key>name</key>
							<string>Baskets</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Tupperware</string>
						</dict>
						<dict>
							<key>name</key>
							<string>HOT Buys!</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Seasonal Candy</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Seasonal Items</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Paper Towels</string>
					<key>Items</key>
					<array>
						<dict>
							<key>name</key>
							<string>Paper Towels</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Bath Tissue</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Facial Tissue</string>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ProductGroups</key>
			<array>
				<dict>
					<key>name</key>
					<string>Books</string>
					<key>Items</key>
					<array>
						<dict>
							<key>name</key>
							<string>Books</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Cheese</string>
					<key>Items</key>
					<array>
						<dict>
							<key>name</key>
							<string>Cheese Singles</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Shredded Cheese</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Specialty Cheese</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Magazines</string>
					<key>Items</key>
					<array>
						<dict>
							<key>name</key>
							<string>Magazine</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Mom Needs</string>
					<key>Items</key>
					<array>
						<dict>
							<key>name</key>
							<string>Leggings</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Stockings</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Aroma Items</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Socks</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Kneehighs</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Tights</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Candles</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Diapers</string>
					<key>Items</key>
					<array>
						<dict>
							<key>name</key>
							<string>Diapers</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Wipes</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Baby Food</string>
					<key>Items</key>
					<array>
						<dict>
							<key>name</key>
							<string>Baby Food</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Infant Care</string>
					<key>Items</key>
					<array>
						<dict>
							<key>name</key>
							<string>Cotton Swabs</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Baby Formula</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Baby Powder</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Baby Oil</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Vaseline</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Gift Wrap</string>
					<key>Items</key>
					<array>
						<dict>
							<key>name</key>
							<string>Gift Wrap</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Gift Bags</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Gift Decorations</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Greeting Cards</string>
					<key>Items</key>
					<array>
						<dict>
							<key>name</key>
							<string>Greeting Card</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Holiday Card</string>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ProductGroups</key>
			<array>
				<dict>
					<key>name</key>
					<string>Drinks</string>
					<key>Items</key>
					<array>
						<dict>
							<key>name</key>
							<string>Soft Drinks</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Energy Drink</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Bottled Water</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Sports Drink</string>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ProductGroups</key>
			<array>
				<dict>
					<key>name</key>
					<string>Bath</string>
					<key>Items</key>
					<array>
						<dict>
							<key>name</key>
							<string>Hygienne Items</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Women Hygienne</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Bathing Needs</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Hair Brush</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Hair Comb</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Shampoo</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Dandruff Control</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Soaps</string>
					<key>Items</key>
					<array>
						<dict>
							<key>name</key>
							<string>Soap</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Body Wash</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Shaving</string>
					<key>Items</key>
					<array>
						<dict>
							<key>name</key>
							<string>Aftershave</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Razors</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Lotions</string>
					<key>Items</key>
					<array>
						<dict>
							<key>name</key>
							<string>Lotion</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Cosmetics</string>
					<key>Items</key>
					<array>
						<dict>
							<key>name</key>
							<string>Cosmetics</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Cotton Swabs</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Cotton Balls</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Hair Coloring</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Feminine Items</string>
					<key>Items</key>
					<array>
						<dict>
							<key>name</key>
							<string>Pads</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Tampons</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Deoderant</string>
					<key>Items</key>
					<array>
						<dict>
							<key>name</key>
							<string>Deoderant</string>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ProductGroups</key>
			<array>
				<dict>
					<key>name</key>
					<string>Eggs</string>
					<key>Items</key>
					<array>
						<dict>
							<key>name</key>
							<string>Eggs</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Pest Control</string>
					<key>Items</key>
					<array>
						<dict>
							<key>name</key>
							<string>Bug Spray</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Charcoal</string>
					<key>Items</key>
					<array>
						<dict>
							<key>name</key>
							<string>Charcoal</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Lighter Fluid</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Lighter</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Grill Utensils</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>School &amp; Office</string>
					<key>Items</key>
					<array>
						<dict>
							<key>name</key>
							<string>Posterboard</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Pens</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Pencils</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Folders</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Paper</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Crayons</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Markers</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Scissors</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Tape</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Glue</string>
						</dict>
						<dict>
							<key>name</key>
							<string>White out</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Envelopes</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Dog &amp; Cat Food</string>
					<key>Items</key>
					<array>
						<dict>
							<key>name</key>
							<string>Dog Food</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Canned Pet Food</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Cat Food</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Bird Feed</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Pet Treats</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Kitty Litter</string>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ProductGroups</key>
			<array>
				<dict>
					<key>name</key>
					<string>Auto Care</string>
					<key>Items</key>
					<array>
						<dict>
							<key>name</key>
							<string>Glass Cleaner</string>
						</dict>
						<dict>
							<key>name</key>
							<string>ArmorAll</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Yogurt</string>
					<key>Items</key>
					<array>
						<dict>
							<key>name</key>
							<string>Yogurt</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Light Bulbs</string>
					<key>Items</key>
					<array>
						<dict>
							<key>name</key>
							<string>Light Bulbs</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Laundry Supplies</string>
					<key>Items</key>
					<array>
						<dict>
							<key>name</key>
							<string>Fabric Softener</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Detergent</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Clorox</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Bleach</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Brooms &amp; Mops</string>
					<key>Items</key>
					<array>
						<dict>
							<key>name</key>
							<string>Broom</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Mop</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Floor Cleaner</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Household Cleaners</string>
					<key>Items</key>
					<array>
						<dict>
							<key>name</key>
							<string>Cleaning Solutions</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Glass Cleaner</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Air Vent Filters</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Air Freshener</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Dish Cleaning</string>
					<key>Items</key>
					<array>
						<dict>
							<key>name</key>
							<string>Dishwashing Liquid</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Dishwashing Packs</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Kitchen Soap</string>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ProductGroups</key>
			<array>
				<dict>
					<key>name</key>
					<string>Plastic Bags</string>
					<key>Items</key>
					<array>
						<dict>
							<key>name</key>
							<string>Trash Bags</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Tupperware</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Storage Bags</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Picnic Supplies</string>
					<key>Items</key>
					<array>
						<dict>
							<key>name</key>
							<string>Paper Plates</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Cups</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Utensils</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Napkins</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Wine</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Sport Drinks</string>
					<key>Items</key>
					<array>
						<dict>
							<key>name</key>
							<string>Sports Drinks</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Water</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Seltzer Water</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Tonic Water</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Fitness Foods</string>
					<key>Items</key>
					<array>
						<dict>
							<key>name</key>
							<string>Protein Bars</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Cocktail Mixes</string>
					<key>Items</key>
					<array>
						<dict>
							<key>name</key>
							<string>Margarita Mix</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Cocktail Mix</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Foils &amp; Wraps</string>
					<key>Items</key>
					<array>
						<dict>
							<key>name</key>
							<string>Aluminum Foil</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Plastic Wrap</string>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ProductGroups</key>
			<array>
				<dict>
					<key>name</key>
					<string>Soft Drinks</string>
					<key>Items</key>
					<array>
						<dict>
							<key>name</key>
							<string>Soft Drinks</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Caffeinated Drinks</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Butter</string>
					<key>Items</key>
					<array>
						<dict>
							<key>name</key>
							<string>Butter</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Margarine</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Bottled Juice</string>
					<key>Items</key>
					<array>
						<dict>
							<key>name</key>
							<string>Bottled Juice</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Bottled Tea</string>
					<key>Items</key>
					<array>
						<dict>
							<key>name</key>
							<string>Bottled Tea</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Energy Drinks</string>
					<key>Items</key>
					<array>
						<dict>
							<key>name</key>
							<string>Energy Drinks</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Powdered Drinks</string>
					<key>Items</key>
					<array>
						<dict>
							<key>name</key>
							<string>Powdered Drinks</string>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ProductGroups</key>
			<array>
				<dict>
					<key>name</key>
					<string>Pie Crust</string>
					<key>Items</key>
					<array>
						<dict>
							<key>name</key>
							<string>Pie Crust</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Refriger. Biscuits</string>
					<key>Items</key>
					<array>
						<dict>
							<key>name</key>
							<string>Refriger. Biscuits</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Beer</string>
					<key>Items</key>
					<array>
						<dict>
							<key>name</key>
							<string>Domestic Beer</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Imported Beer</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Wine</string>
					<key>Items</key>
					<array>
						<dict>
							<key>name</key>
							<string>Cabernet Souvignon </string>
						</dict>
						<dict>
							<key>name</key>
							<string>Reisling</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Moscato</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Merlot</string>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ProductGroups</key>
			<array>
				<dict>
					<key>name</key>
					<string>Cream Cheese</string>
					<key>Items</key>
					<array>
						<dict>
							<key>name</key>
							<string>Cream Cheese</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Orange Juice</string>
					<key>Items</key>
					<array>
						<dict>
							<key>name</key>
							<string>Orange Juice</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Beer</string>
					<key>Items</key>
					<array>
						<dict>
							<key>name</key>
							<string>Craft Beer</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Imported Beer</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Wine</string>
					<key>Items</key>
					<array>
						<dict>
							<key>name</key>
							<string>Cabernet Souvignon </string>
						</dict>
						<dict>
							<key>name</key>
							<string>Reisling</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Moscato</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Merlot</string>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ProductGroups</key>
			<array>
				<dict>
					<key>name</key>
					<string>Refrigerated Juices</string>
					<key>Items</key>
					<array>
						<dict>
							<key>name</key>
							<string>Refrigerated Juices</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Cottage Cheese</string>
					<key>Items</key>
					<array>
						<dict>
							<key>name</key>
							<string>Cottage Cheese</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Refrigerated Tea</string>
					<key>Items</key>
					<array>
						<dict>
							<key>name</key>
							<string>Refrigerated Tea</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Frozen Meals</string>
					<key>Items</key>
					<array>
						<dict>
							<key>name</key>
							<string>Frozen Meals</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Frozen Potatoes</string>
					<key>Items</key>
					<array>
						<dict>
							<key>name</key>
							<string>Frozen Potatoes</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Frozen Fries</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Frozen Vegetables</string>
					<key>Items</key>
					<array>
						<dict>
							<key>name</key>
							<string>Frozen Vegetables</string>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ProductGroups</key>
			<array>
				<dict>
					<key>name</key>
					<string>Frozen Snacks</string>
					<key>Items</key>
					<array>
						<dict>
							<key>name</key>
							<string>Frozen Snacks</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Frozen Pizza</string>
					<key>Items</key>
					<array>
						<dict>
							<key>name</key>
							<string>Frozen Pizza</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Frozen Meats</string>
					<key>Items</key>
					<array>
						<dict>
							<key>name</key>
							<string>Frozen Chicken</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Frozen Seafood</string>
					<key>Items</key>
					<array>
						<dict>
							<key>name</key>
							<string>Frozen Seafood</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Frozen Breads</string>
					<key>Items</key>
					<array>
						<dict>
							<key>name</key>
							<string>Frozen Breads</string>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ProductGroups</key>
			<array>
				<dict>
					<key>name</key>
					<string>Milk</string>
					<key>Items</key>
					<array>
						<dict>
							<key>name</key>
							<string>Almond Milk</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Soy Milk</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Chocolate Milk</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Milk</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Half &amp; Half</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Cream</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Ice Cream</string>
					<key>Items</key>
					<array>
						<dict>
							<key>name</key>
							<string>Ice Cream</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Ice Cream Toppings</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Ice Cream Cones</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Frozen Breakfast</string>
					<key>Items</key>
					<array>
						<dict>
							<key>name</key>
							<string>Frozen Breakfast</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Ice</string>
					<key>Items</key>
					<array>
						<dict>
							<key>name</key>
							<string>Ice</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Frozen Desserts</string>
					<key>Items</key>
					<array>
						<dict>
							<key>name</key>
							<string>Frozen Desserts</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Popsicles</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Frozen Novelties</string>
					<key>Items</key>
					<array>
						<dict>
							<key>name</key>
							<string>Frozen Novelties</string>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
