<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Aisles</key>
	<array>
		<dict>
			<key>ProductGroups</key>
			<array>
				<dict>
					<key>name</key>
					<string>Bread</string>
					<key>Items</key>
					<array>
						<dict>
							<key>name</key>
							<string>Sandwich Bread</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Hot Dog Buns</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Muffins</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Hamburger Buns</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Nuts</string>
					<key>Items</key>
					<array>
						<dict>
							<key>name</key>
							<string>Peanuts</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Cashews</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Granola</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Almonds</string>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ProductGroups</key>
			<array>
				<dict>
					<key>name</key>
					<string>Canned Goods</string>
					<key>Items</key>
					<array>
						<dict>
							<key>name</key>
							<string>Canned Veggies</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Canned Fruit</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Canned Meat</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Canned Milk</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Snacks</string>
					<key>Items</key>
					<array>
						<dict>
							<key>name</key>
							<string>Snack Cakes</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Crackers</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Cookies</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Jerky</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Cultural Foods</string>
					<key>Items</key>
					<array>
						<dict>
							<key>name</key>
							<string>Mexican Choices</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Oriental Choices</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Caribbean Choices</string>
						</dict>
						<dict>
							<key>name</key>
							<string>African Choices</string>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ProductGroups</key>
			<array>
				<dict>
					<key>name</key>
					<string>Condiments</string>
					<key>Items</key>
					<array>
						<dict>
							<key>name</key>
							<string>Mustard</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Ketchup</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Jelly</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Salad Dressing</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Seasonings</string>
					<key>Items</key>
					<array>
						<dict>
							<key>name</key>
							<string>Pepper</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Salt</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Spices</string>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ProductGroups</key>
			<array>
				<dict>
					<key>name</key>
					<string>Breakfast Foods</string>
					<key>Items</key>
					<array>
						<dict>
							<key>name</key>
							<string>Cereal</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Syrup</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Pancake mix</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Hot Drinks</string>
					<key>Items</key>
					<array>
						<dict>
							<key>name</key>
							<string>Coffee</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Tea</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Soup</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Baking Goods</string>
					<key>Items</key>
					<array>
						<dict>
							<key>name</key>
							<string>Sugar</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Flour</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Vanilla</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Shortening</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Pans</string>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ProductGroups</key>
			<array>
				<dict>
					<key>name</key>
					<string>Hygienne Care</string>
					<key>Items</key>
					<array>
						<dict>
							<key>name</key>
							<string>Deoderant</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Toothpaste</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Brush</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Comb</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Soap</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Shampoo</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Party Needs</string>
					<key>Items</key>
					<array>
						<dict>
							<key>name</key>
							<string>Greeting Cards</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Balloons</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Streamers</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Drinks</string>
					<key>Items</key>
					<array>
						<dict>
							<key>name</key>
							<string>Soda</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Juice</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Sports Drinks</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Chips</string>
					<key>Items</key>
					<array>
						<dict>
							<key>name</key>
							<string>Potato Chips</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Nacho Chips</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Corn Chips</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Dips</string>
					<key>Items</key>
					<array>
						<dict>
							<key>name</key>
							<string>Salsa</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Queso</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Bean Dip</string>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ProductGroups</key>
			<array>
				<dict>
					<key>name</key>
					<string>Feminine Needs</string>
					<key>Items</key>
					<array>
						<dict>
							<key>name</key>
							<string>Pads</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Tampons</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Lipstick</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Cosmetics</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Hair Accessories</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>School Supplies</string>
					<key>Items</key>
					<array>
						<dict>
							<key>name</key>
							<string>Pens</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Paper</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Pencils</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Crayons</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Scissors</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Alcohol</string>
					<key>Items</key>
					<array>
						<dict>
							<key>name</key>
							<string>Beer</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Wine</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Wine Coolers</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Cleaning Supplies</string>
					<key>Items</key>
					<array>
						<dict>
							<key>name</key>
							<string>Bleach</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Mop</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Bucket</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Brilo Pads</string>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
